<header>
    <div class="logo-container">
        <a href="index.html">
            <img class="logo" src="assets/logos/signatureblack.png" alt="Dieter Vanlangenaker Logo">
        </a>
    </div>
    <nav class="nav-menu">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <button class="hamburger">☰</button>
</header>